<html>

<head>
  <title>File Upload</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <style>
    .dropzone .dz-preview .dz-image {
      width: 250px;
      height: 250px;
    }
  </style>
</head>

<body style="padding-left: 40px; padding-top: 7px">
  <div style="width: 20%;">
    <h1>File Upload</h1>
    <div style="margin-top: 5px; margin-bottom: 5px;">Please upload your vtt file below: </div>
    <div id="errorMessage" class="alert alert-warning alert-dismissible fade"></div>
    <form action="/" class="dropzone" id="dropzoneform">
    </form>
  </div>
  <div id="line_chart" style="width: 2000px; height: 500px;"></div>
</body>
<script type="text/javascript">
  Dropzone.autoDiscover = false;
  Dropzone.options.myDropzone = {
    init: function () {
      this.on("thumbnail", function (file, dataUrl) {
        $('.dz-image').last().find('img').attr({ width: '100%', height: '100%' });
      }),
        this.on("success", function (file) {
          $('.dz-image').css({ "width": "100%", "height": "auto" });
        })
    }
  };
  $(document).ready(function () {
    var myDropzone = new Dropzone("#dropzoneform", { uploadMultiple: false, maxFiles: 1 });
    myDropzone.on("addedfile", function (file) {
      $("#errorMessage").removeClass("show");
      if (!$("#errorMessage").hasClass("hide")) {
        $("#errorMessage").addClass("hide");
      }
    });
    myDropzone.on("maxfilesexceeded", function (file) {
      myDropzone.removeAllFiles();
      myDropzone.addFile(file);
    });
    myDropzone.on("error", function (file, reponse) {
      var args = Array.prototype.slice.call(arguments);
      if (args[2] !== undefined) {
        $("#errorMessage").removeClass("hide");
        $("#errorMessage").text(args[1]);
        if (!$("#errorMessage").hasClass("show")) {
          $("#errorMessage").addClass("show");
        }
      }
    });
    myDropzone.on("success", function (file, reponse) {
      var args = Array.prototype.slice.call(arguments);
      google.charts.setOnLoadCallback(function () {
        drawChart(args[1]['result']['start_times'], args[1]['result']['scores']);
      });
    });

    google.charts.load('current', { 'packages': ['corechart'] });
    function drawChart(start_times, scores) {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Start Times');
      for (const score_key of Object.keys(scores)) {
        data.addColumn('number', score_key);
      }
      table = [];
      for (var i = 0; i < start_times.length; i++) {
        row = [start_times[i]];
        for (const score_key of Object.keys(scores)) {
          row.push(scores[score_key][i]);
        }
        table.push(row);
      }
      data.addRows(table);

      var options = {
        chartArea: { left: 70, top: 30 },
        hAxis: {
          slantedText: true,
          slantedTextAngle: 90,
          showTextEvery: 3,
          gridlines: { color: '#333' },
          title: "Timestamp"
        },
        vAxis: {
          title: "Score",
          showTextEvery: 2,
          gridlines: {
            color: '#333'
          }
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('line_chart'));
      chart.draw(data, options);
    }
  });
</script>

</html>